<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log In</title>
	<link href="./login.css" rel="stylesheet">
</head>
<body>
	<nav>
		<h1>Chat App</h1>
		<a href="../Signup/signup.html" id="loginBtn">Sign Up</a>
	</nav>
	<div id="main-container">
		<div id="picture"><img src="../Signup/vector-characters-of-people-chatting-through-smartphones-illustration.jpg" alt="image" width="50%" height="100%"></div>
		<div id="user-form"><h1 id="form-title">Log In</h1><div id="form-box"><form>
			<label for="email">Enter Email</label><br>
			<input type="email" id="email" class="user-input" name="email" required><br>
			<label for="password">Enter Password</label><br>
			<input type="password" id="password" class="user-input" name="password" required><br>
			<input type="submit" id="submit-btn" value="Log In">
		</form></div></div>
	</div>
</body>
<script src="./login.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>